{% if tutor_root %}
echo -e "Using the \033[1;32mstack-builder/ednx_envs/lilac\033[0m environment"
export TUTOR_ROOT=/data/eduNEXT/ws-producto/tools/stack-builder/ednx_envs/lilac
{% else %}
echo -e "You have not selected any environment. Tutor will use the global default \033[1;31m~.local/share/tutor\033[0m"
{% endif %}
{% if version %}
{{ tvm }}/{{ version }}/venv/bin/tutor $@
{% else %}
echo "You need to select a tutor active version at first. Run 'stack tvm use <VERSION>'"
{% endif %}
